.cover {
  width: 324px;
  height: 324px;
  background-color: blue;
  border: 1px solid white;
  z-index: 999;
  opacity: 1;
  transition: opacity 1s;
}

.cover:hover {
  opacity: 0;
  transition: opacity 1s;
}