/* .tile {
  width: 324px;
  height: 324px;
  background-color: red;
  border: 1px solid white;
} */

.tile {
  height: 100%;
  width: 100%;
  background-image: url(../../assets/example.png);
  position: absolute;
}