.cover {
  width: 324px;
  height: 324px;
  background-image: url(../../assets/example.png);
  border: 1px solid white;
  z-index: 999;
  clip-path: inset(0px 0px 0px 0px);
  transition: clip-path 0.5s;
}

.cover:hover {
  clip-path: inset(0px 0px 243px 0px);
  transition: clip-path 0.5s;
}